/* General styles */  
body {  
    font-family: 'Montserrat', sans-serif; /* Use Montserrat for a modern look */  
    
    max-width: 1200px; /* Cambia 1200px por el ancho deseado */  
    margin: 0 auto; /*  
    margin: 0;  
    padding: 20px;    
    display: flex; /* Allow flexbox layout */  
    flex-direction: column; /* Align items in a column */  
    align-items: center; /* Center items horizontally */  
}  

.container { /* New wrapper for content */ 
    background-color: #001427; /* Navy Blue for the body background */  
    width: 80%; /* Container takes 80% of the screen width */  
    max-width: 1200px; /* Optional max-width to prevent it from becoming too wide */  
    margin: 0 auto; /* Center the container */  
}  

/* Header styles */  
header {  
    background-color: #BF0603; /* Red for the header background */  
    opacity: 0.9; /* Slight opacity for a modern effect */  
    padding: 20px; /* Padding for the header */  
    text-align: center; /* Centered text in the header */  
}  

header h1 {  
    margin: 0; /* Remove margin for the header title */  
    font-size: 36px; /* Size of the header title */  
    color: #F4D58D; /* Light Yellow for the header text color */  
}  

/* Roulette styles */  
h1 {  
    font-family: 'Montserrat', sans-serif;  
    font-size: 2.5em; /* Adjusted size for better visual fit */  
    color: #001427; /* White for the main title in the game */  
    text-align: center;  
    margin-bottom: 20px; /* Increased margin for more space below */  
    margin-top: 20px; /* Increased margin for more space above */  
}  

.game-container {
    padding: 10px;  
    display: flex;  
    justify-content: space-around;  
    width: 100%; /* Full width for the container */  
    margin-top: 20px;  
  
}  

#roulette-container { 
    background-color: #001427; /* Navy Blue for the body background */  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    width: 100%;  
    position: relative;
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

#question-container { 
    background-color: #001427; /* Navy Blue for the body background */  
    width: 100%; /* Full width of container */  
    padding: 2%;  
    background-color: #F4D58D; /* Light Yellow for the question container */  
    font-size: large;     
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

canvas {  
    position: relative;  
    left: 100;  
    top: 0;  
}  

#spin {  
    background-color: #BF0603; /* Red for the spin button */  
    color: white;  
    padding: 15px 30px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 18px;  
    margin-top: 20px; /* Margin to separate from the canvas */  
    z-index: 10;  
}  

#spin:hover {  
    background-color: #8D0801; /* Darker shade for hover effect */  
}  

#options {  
    margin-top: 20px;  
}  

label {  
    display: block;  
    margin-bottom: 10px;  
    color: #001427; /* Navy Blue for the option labels */  
}  

#submit {  
    background-color: #BF0603; /* Red for the submit button */  
    color: white;  
    padding: 10px 20px;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 16px;  
}  

#submit:hover {  
    background-color: #8D0801; /* Darker shade on hover for submit button */  
}  

#feedback {   
    margin-top: 20px;  
    font-weight: bold;  
    font-size: x-large;  
    color: #001427; /* Navy Blue for feedback text */  
}  

#celebration img {  
    height: 50%;  
    position: absolute;   
    margin-top: 10px;  
}  

#score {  
    margin-top: 20px;  
    font-size: xx-large;  
    font-weight: bold;  
    color: #001427; /* Navy Blue for the score text */  
}  

#sound-toggle {  
    display: inline-flex; /* Change display to inline-flex */  
    align-items: center; /* Center the content vertically */  
    justify-content: center; /* Center the content horizontally */  
    position: absolute;  
    top: 5px;  
    left: 10px;  
    padding: 5px 10px;  
    background-color: #001427;  
    color: white;  
    border: none;  
    border-radius: 5px;  
    cursor: pointer;  
    max-width: 100px;  
    font-size: 12px;  
    box-sizing: border-box; /* Ensures padding and border are included in total size */  
}  

#sound-toggle img {  
    max-width: 80%; /* Ensures the button's image fits within its bounds */  
    height: auto; /* Maintains the image's aspect ratio */  
}  